<legend><h4>Group Chat</h4></legend>
    <div  id ="messagefsorm">
      <div class="chat-box">
        <div id="messages_list">
          <%= render partial: 'groupmessage' %>
        </div>
        <%= render :partial => 'groupmessages/form' %>
      </div>
    </div>
