body {
   padding-top: 55px;
}
li.media
{
  position: relative;
}
li.media.a {
  position: absolute;
   height: 100%;
   top: 0;
   left: 0;
   text-decoration: none; /* No underlines on the link */
   z-index: 10; /* Places the link above everything else in the div */
   background-color: #FFF; /* Fix to make div clickable in IE */
   opacity: 0; /* Fix to make div clickable in IE */
   filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}
.onlineusers {
    height: 100%;
  }
  #message_form
  {
    position: absolute;
    width: 100;
    margin-left: 29%;
    margin-top:55%;
  }
  #messageform
  {
      border: 1px solid #2700FF;
      background: rgba(255, 248, 220, 0.33);
      overflow-y: scroll;
      height: 500px;
}

#leftdiv {
    height: 500px;
    margin-right: 0%;
    border: 1px solid #000000;
}
